{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'aprender2021/style.css' %}">


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
  <div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h2><a href="{% url 'aprender2021:detail' question.id %}">{{ question.question }}</a></h2>
      </div>
      </div>
    </div>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<a href="http://127.0.0.1:8000/home/" class="btn btn-success">Volver al Inicio</a>
